<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169617054-2"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-169617054-2');
	</script>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>금방금방-한국금거래소디지털에셋</title>
	<!--Start for NAVER-->
	<meta name="naver-site-verification" content="94a1ce911be5f4b0a7cbd4a8e12877a63b5411ab" />
	<meta name="description" lang="ko" content="30초로 가격감정, 모바일 금은방 금방금방 - 끊어진 목걸이 짝잃은 귀걸이 가격 알아보고 매입하세요.">
	<meta property="og:type" content="website"> 
	<meta property="og:title" content="금방금방">
	<meta property="og:description" content="30초로 가격감정, 모바일 금은방 금방금방 - 끊어진 목걸이 짝잃은 귀걸이 가격 알아보고 매입하세요.">
	<meta property="og:url" content="https://xn--jj0ba469hba.kr/">
	<meta name="copyright" content="copyrights 2020 금방금방">
	<link rel="canonical" href="https://xn--jj0ba469hba.kr">
	<meta name="keywords" content="30초, 가격감정, 모바일 금은방, 끊어진 목걸이, 짝잃은 귀걸이, 최고가 매입, 비대면"> 
	<link rel="icon" href="images/icon.ico">
	<!--End for NAVER-->

	<!-- Stylesheets
	============================================= -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" /> -->
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/swiper.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/fonts.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="css/aos.css" type="text/css" />

	<link rel="stylesheet" href="css/custom.css" type="text/css" />
	<link rel="stylesheet" href="css/responsive.css" type="text/css" />

	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/navigation.css">

	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/aos.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />

<!--LazyLoad Youtube-->
	<style>
		.youtube {
			background-color: #000;
			margin-bottom: 30px;
			position: relative;
			padding-top: 56.25%;
			overflow: hidden;
			cursor: pointer;
		}
		.youtube img {
			width: 100%;
			top: -16.84%;
			left: 0;
			opacity: 0.7;
		}
		.youtube .play-button {
			width: 90px;
			height: 60px;
			background-color: #333;
			box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
			z-index: 1;
			opacity: 0.8;
			border-radius: 6px;
		}
		.youtube .play-button:before {
			content: "";
			border-style: solid;
			border-width: 15px 0 15px 26.0px;
			border-color: transparent transparent transparent #fff;
		}
		.youtube img,
		.youtube .play-button {
			cursor: pointer;
		}
		.youtube img,
		.youtube iframe,
		.youtube .play-button,
		.youtube .play-button:before {
			position: absolute;
		}
		.youtube .play-button,
		.youtube .play-button:before {
			top: 50%;
			left: 50%;
			transform: translate3d( -50%, -50%, 0 );
		}
		.youtube iframe {
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
		}
	</style>
	<script type="text/javascript">
		$(function(){ 
			includeLayout();
			}); 
			function includeLayout(){ 
				var includeArea = $('[data-include]'); 
				var self, url; $.each(includeArea, function() { self = 
				$(this); url = self.data("include"); 
				self.load(
					url, function() { 
					self.removeAttr("data-include"); 
					}); 
			}); 
		} 
	</script>
	<script type="text/javascript">
		$(document).ready(function () {
			// feat image ratio size 소식 썸네일 이미지 가로사진 조절 
			$('.featImage > img').each(function (index, item) {
				if ($(this).height() / $(this).width() < 1) {//16:9 >> 0.567
					$(this).addClass('landscape').removeClass('portrait');
				} else {
					$(this).addClass('portrait').removeClass('landscape');
				}
			});
		});
//  ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ //
	</script>
	<script>
		//하단 모바일 앱다운 버튼
		// When the user scrolls down 20px from the top of the document, slide down the navbar
		window.onscroll = function() {scrollFunction()};
		
		function scrollFunction() {
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
				document.getElementById("navbar").style.bottom = "0";
				document.getElementById("navbar").style.left = "0";
				document.getElementById("navbar").style.right = "0";
				document.getElementById("gotoTop").style.display = "block";
			} else {
				document.getElementById("navbar").style.bottom = "30px";
				document.getElementById("navbar").style.left = "30px";
				document.getElementById("navbar").style.right = "30px";
				document.getElementById("gotoTop").style.display = "none";
			}
			if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
				document.getElementById("right_wraps").style.opacity = "0.9";
			} else {
				document.getElementById("right_wraps").style.opacity = "1";
			}
			}
	</script>

	<!-- Global site tag (gtag.js) - Google Ads: 627168060 -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-627168060"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'AW-627168060');
	</script> 
	<!-- Event snippet for 페이지 조회 conversion page -->
	<script>
		gtag('event', 'conversion', {'send_to': 'AW-627168060/bCupCOW-19kBELymh6sC'});
	</script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169617054-3"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-169617054-3');
	</script>

	<!--start for modal-->
	<script>
		//popup갯수
		const popupCnt = 2;
		//popup창에 사용할 이미지 popupCnt 수 만큼
		const images = ["201231_pop3.jpg","notice_201231_n3.jpg"];
		const cookiesPrep = window.location.href+".cookie";
		const buttonIDPrep = "showModal";
		const dataTargetPrep = "popupModal";
		
		function generateModal(){
			if(images.length < popupCnt){
				console.log("Popup Image 수가 부족합니다.\nPopup을 띄울 수 없습니다.");
				return;
			}
			let popupArray = new Array();
			let bodyObj = document.getElementsByTagName("BODY")[0];
			for(let i=0;i<popupCnt;i++){
				let popupObj = new Object();
				popupObj.cookieName = cookiesPrep + i;
				popupObj.buttonIDs = buttonIDPrep + i;
				popupObj.dataTarget = dataTargetPrep + i;
				popupArray.push(popupObj);

				let button = document.createElement("button");
				button.id="showModal"+i;
				button.type="button";
				button.setAttribute("class", "btn btn-info btn-lg");
				button.setAttribute("data-toggle", "modal");
				button.setAttribute("data-target", "#"+dataTargetPrep+i);
				button.style="display:none;";
				button.innerText="Open Modal"+i;
				bodyObj.append(button);

				let modalDiv = document.createElement("DIV");
				modalDiv.id = dataTargetPrep+i;
				modalDiv.setAttribute("class", "modal fade show");
				modalDiv.setAttribute("role", "dialog");
				let modalDialogDiv = document.createElement("DIV");
				modalDialogDiv.setAttribute("class", "modal-dialog");
				let modalContentDiv = document.createElement("DIV");
				modalContentDiv.setAttribute("class", "modal-content");
				let modalBodyDiv = document.createElement("DIV");
				modalBodyDiv.setAttribute("class", "modal-body");
				let modalImage = document.createElement("IMG");
				modalImage.setAttribute("src", "images/"+images[i]);

				let modalFooterDiv = document.createElement("DIV");
				modalFooterDiv.setAttribute("align","right");
				let modalCheck = document.createElement("INPUT");
				modalCheck.setAttribute("type","checkbox");
				modalCheck.id = "notice"+i;
				modalCheck.setAttribute("name","Notice");
				modalCheck.style = "vertical-align: middle";
				modalCheck.addEventListener("click", function() {
					if(modalCheck.id == "notice"+i){
						setCookie(popupObj.cookieName,popupObj.cookieName,1);
					}else{
						setCookie(popupObj.cookieName,popupObj.cookieName,-1);
					}
				});
				modalFooterDiv.append(modalCheck);
				let modalFont = document.createElement("Font");
				modalFont.style = "font-size:8pt";
				modalFont.innerText = "오늘 하루 동안 열지 않음";
				let modalButton = document.createElement("button");
				modalButton.innerText = "Close";
				modalButton.setAttribute("class","btn btn-default");
				modalButton.setAttribute("data-dismiss","modal");
				
				modalFooterDiv.append(modalFont);
				modalFooterDiv.append(modalButton);
				modalBodyDiv.append(modalImage);
				modalBodyDiv.append(modalFooterDiv);
				modalContentDiv.append(modalBodyDiv);
				modalDialogDiv.append(modalContentDiv);
				modalDiv.append(modalDialogDiv);

				bodyObj.append(modalDiv);
			}

			return popupArray;
		}
		
		const targetDate = '2020-09-28'; //오늘보다 과거면 오늘 하루만, 미래면 그날까지 띄워라
		
		function showModal(){
			let popupJson = JSON.parse(JSON.stringify(generateModal()));
			for(let i=0;i<popupJson.length;i++){
				let tempObj = document.getElementById(popupJson[i].buttonIDs);
				if(!getCookie(popupJson[i].cookieName)){
					tempObj.click();
				}
			}
		};
		
 		function getCookie( cookieName ){
  			var search = cookieName + "=";
  			var cookie = document.cookie;
			/* 현재 쿠키가 존재할 경우 */
			if( cookie.length > 0 ){
				/* 해당 쿠키명이 존재하는지 검색한 후 존재하면 위치를 리턴. */
				startIndex = cookie.indexOf( cookieName );
				/* 만약 존재한다면 */
				if( startIndex != -1 ){
					/* 값을 얻어내기 위해 시작 인덱스 조절 */
					startIndex += cookieName.length;

					/* 값을 얻어내기 위해 종료 인덱스 추출 */
					endIndex = cookie.indexOf( ";", startIndex );

					/* 만약 종료 인덱스를 못찾게 되면 쿠키 전체길이로 설정 */
					if( endIndex == -1) endIndex = cookie.length;

					/* 쿠키값을 추출하여 리턴 */
					return true;
  				}else{
					/* 쿠키 내에 해당 쿠키가 존재하지 않을 경우 */
					return false;
				}
  			}else{
				/* 쿠키 자체가 없을 경우 */
				return false;
  			}
 		}

		function setCookie( name, value, expiredays ){
			var todayDate;
			if(new Date(targetDate) > new Date()) todayDate = new Date(targetDate);
			else todayDate = new Date();
			
			todayDate.setDate( todayDate.getDate() + expiredays );
			document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";"
		}
 	</script>
	<!--end for modal-->
	<script>
		function getFormatDate(date){
				var year = date.getFullYear();              //yyyy
				var month = (1 + date.getMonth());          //M
				month = month >= 10 ? month : '0' + month;  //month 두자리로 저장
				var day = date.getDate();                   //d
				day = day >= 10 ? day : '0' + day;          //day 두자리로 저장
				var hour = date.getHours();
				hour = hour >= 10 ? hour : '0' + hour;          //hour 두자리로 저장
				var min = date.getMinutes();
				min = min >= 10 ? min : '0' + min;          //min 두자리로 저장
				var sec = date.getSeconds();
				sec = sec >= 10 ? sec : '0' + sec;          //sec 두자리로 저장
				return  year + '년 ' + month + '월 ' + day + '일';
		}
		function getNow(){
			return getFormatDate(new Date());
		}
	</script>
	
</head>

<body class="stretched" onLoad=sendAjax();showModal();>
	
	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix gold">
		
		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header " data-sticky-class="not-dark">
			<div id="header-wrap">
				<div class="container">
					<div class="header-row">
						<!-- Logo
						============================================= -->
						<div id="logo">
							<a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo.png" alt="Logo"></a>
							<a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Logo"></a>
						</div><!-- #logo end -->

						<div id="primary-menu-trigger">
							<svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
						</div>

						<!-- Primary Navigation
						============================================= -->
						
						<nav class="primary-menu not-dark">

							<ul class="one-page-menu menu-container" data-easing="easeInOutExpo" data-speed="1250" data-offset="60">
								<li class="menu-item"><a class="menu-link" href="#"data-href="#about"><div>서비스안내</div></a></li>
								<li class="menu-item"><a class="menu-link" href="https://korda.im/" target="_blank"><div>회사소개</div></a></li>
								<li class="menu-item">
									<div class="header-misc">
										<div class="d-flex">
											<a href="https://bit.ly/36TFtnj" target="_blank" class="social-icon si-dark si-colored si-grayF si-small mb-0" style="margin-right: 10px;">
												<i class="icon-none"><img src="images/ic_facebook.png" alt="sns"></i>
												<i class="icon-none"><img src="images/ic_facebook.png" alt="sns"></i>
											</a>
											<a href="https://blog.naver.com/cengold" target="_blank" class="social-icon si-dark si-colored si-grayF si-small mb-0" style="margin-right: 10px;">
												<i class="icon-none"><img src="images/ic_blog.png" alt="sns"></i>
												<i class="icon-none"><img src="images/ic_blog.png" alt="sns"></i>
											</a>
											<a href="https://www.youtube.com/channel/UCqZwkP5qKoRttaLn7j3aTiw" target="_blank" class="social-icon si-dark si-colored si-grayF si-small mb-0" style="margin-right: 10px;">
												<i class="icon-none"><img src="images/ic_youtube.png" alt="sns"></i>
												<i class="icon-none"><img src="images/ic_youtube.png" alt="sns"></i>
											</a>
										</div>
			
									</div>
								</li>
							</ul>
						</nav><!-- #primary-menu end -->
					

					</div>
				</div>
			</div>
		</header><!-- #header end -->
		 <!--하단 앱다운로드 버튼-->
		 <div class="m_view">
			<div id="navbar">
				<a href="javascript:gtag_report_conversion('market://details?id=com.gogold.korda');"><img src="images/img_store_1_w2_mobile.png" alt="금방금방 플레이 스토어"></a>
				<a href="javascript:gtag_report_conversion('itms-apps://itunes.apple.com/kr/app/apple-store/id1521643653');"><img src="images/img_store_2_w2_mobile.png" alt="금방금방 앱스토어"></a>
			</div>
		</div>
		
		
	   <!-- 금시세보기 -->
		<div class="right_wrap fs-popup" data-readmore="true" data-readmore-mask="false" data-readmore-size="0rem" data-readmore-trigger-open="<i class='icon-angle-down'></i>" data-readmore-trigger-close="<i class='icon-angle-up'></i>">
			<data-animate="fadeIn" data-delay="100">
			<a href="#" id="right_wraps" class="read-more-trigger"></a>
			<div class="rightmenu" >
				<div class="tt1">오늘의 금시세</div>
				<ul class="gold_view">
					<!--new 아이콘 추가 시, span 태그 추가-->
					<li>
						<span class="tt">24K 살때</span><br>
						<span id="Buy24" class="blinkText" style="color: rgb(135, 223, 255); font-weight: bold;"><%=Buy24%></span><span class="g"> 원/돈</span>
					</li>
					<li>
						<span class="tt">24K 팔때</span><br>
						<span id="Sell24" class="" style="color: rgb(255, 117, 117); font-weight: bold;"><%=Sell24%></span><span class="g"> 원/돈</span>
					</li> 
					<li>
						<span class="tt">18K 팔때</span><br>
						<span id="Sell18" class="" style="color: white;"><%=Sell18%></span><span class="g"> 원/돈</span>
					</li>
					<li class="last">
						<span class="tt">14K 팔때</span><br>
						<span id="Sell14" class="" style="color: white;"><%=Sell14%></span><span class="g"> 원/돈</span>
					</li>
				</ul>
				<div class="re_wrap">
					<div class="p_line"></div>
					<div class="tt1 MB15">오늘 시세 금값 계산기</div>
					<!-- 인풋 활성화시 테두리를 붉게 하고 싶은데 가능하면 부탁드립니다. -->
					<div class="input_box active">
						<input type="number" pattern="\d*" id="gram" placeholder="0" onkeyup=changeUnit(this);>
						<span class="right"> g</span>
					</div>
					<div class="input_box">
						<input type="number" pattern="\d*" id="don" placeholder="0" onkeyup=changeUnit(this);>
                   		<span class="right v2"> 돈</span>
					</div>
                    <!-- input_box -->
					<a href="javascript:calc();" class="btn_view">계산하기</a>
					<div class="p_line white"></div>
					<div class="buy_wrap2">
						<ul class="pay_list">
						  <li><span class="left">14K</span><span class="right"><em id=ret14 class="active">0</em><span class="right3"> 원</span></span></li>
						  <li><span class="left">18K</span><span class="right"><em id=ret18 class="active">0</em><span class="right3"> 원</span></span></li>
						  <li><span class="left">24K</span><span class="right"><em id=ret24 class="active">0</em><span class="right3"> 원</span></span></li>
						</ul> 
					</div>
				</div>
				<!-- re_wrap -->
			</div>
		</div>
		<!-- right_wrap// -->
		
		

		<section id="slider" class="slider-element slider-parallax swiper_wrapper min-vh-40 min-vh-md-75 include-header" >
			<div class="slider-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark">
							<div class="container">
								<div class="slider-caption">
									<h2 data-animate="fadeInUp">
										<p class="tt1">고민 말고,<br>금방금방 해결하자 !</p>
										<p class="tt2">끊어진 목걸이, 짝 잃은 귀걸이, 오래된 디자인의 반지,<br class="m_none">커버린 자녀의 돌반지 모바일로 가격 확인과 판매를 한 번에 !</p>
										</h2>				
								</div>
							</div>
							<div class="swiper-slide-bg" style="background-image: url('images/slider/swiper/1.jpg'); background-position: center top;"></div>
						</div>
						<div class="swiper-slide dark">
							<div class="container">
								<div class="slider-caption">
									<h2 data-animate="fadeInUp">
										<p class="tt1">어색한 금은방 대신,<br >앱으로 편하게 ! </p>
										<p class="tt2">이제는 모바일로 간편하게 시세도 알아보고<br class="m_none">판매도 간편하게 !</p>				
									</h2>
								</div>
							</div>
							<div class="swiper-slide-bg" style="background-image: url('images/slider/swiper/2.jpg'); background-position: center top;"></div>
						</div>
						<div class="swiper-slide">
							<div class="container">
								<div class="slider-caption">
									<h2 data-animate="fadeInUp">
										<p class="tt1">초간단, 30초 간편 감정</p>
										<p class="tt2">지금까지 몰랐던 내 반지, 목걸이의 진정한 가치를 알아보세요 !</p>				
									</h2>
								</div>
							</div>
							<div class="swiper-slide-bg" style="background-image: url('images/slider/swiper/3.jpg'); background-position: center top;"></div>
						</div>
					</div>

					
					<div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
					<div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
				</div>
				<a href="#" data-scrollto="#content" data-offset="100" class="one-page-arrow dark"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

			</div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content" class="con_box">
			<div class="content-wrap py-0">
				<!-- 택배 -->
				<div id="about" class="section m-0 center" style=" padding: 170px 0;">
					<div class="container">
						<h3 class="h1 tit mb-3"><span>비대면</span> 온라인 금은방</h3>
						<p class="stit">오프라인 매장(금은방)에 오지 않아도 <br class="m_none">모바일 앱을 통해 금반지를 판매할 수 있습니다.</p>
						<p class="bottommargin stit_go" ><a href="https://blog.korda.im/30co-ganpyeon-gamjeong-seobiseu-geumbanggeumbang-aeb-sogae/" target="_blank" data-scrollto="#section-services" data-easing="easeInOutExpo" data-speed="1250" data-offset="70" class="more-link">금방금방 자세히 알아보기 <i class="icon-angle-right"></i></a></p>
						<div class="img_area" data-animate="fadeInDown">
							<img data-aos="fade-down" data-aos-duration="100" class="aos-init aos-animate bg0" src="images/about_img_bg.png">
							<img data-aos="fade-down" data-aos-duration="500" class="aos-init aos-animate bg1" src="images/about_img01.png">
							<img data-aos="fade-down" data-aos-duration="1000" class="aos-init aos-animate bg2" src="images/about_img02.png">
							<img data-aos="fade-down" data-aos-duration="1500" class="aos-init aos-animate bg3" src="images/about_img03.png">
							<img data-aos="fade-down" data-aos-duration="2000" class="aos-init aos-animate bg4" src="images/about_img04.png">
						</div>
					</div>
				</div>
				<div id="history" class="section m-0 center" style="background:#ffe6e8; padding: 170px 0;">
					<div class="container">
						<h3 class="h1 tit mb-3"><span>한국금거래소</span> 25년<br class="m_none">
							경험이 담긴 모바일 서비스</h3>
						<p class="stit">한국금거래소의 축적된 귀금속 가치평가 데이터 기반으로<br class="m_none">숨은 가치를 찾아드립니다.</p>
					</div>
				</div>
				<div class="section m-0 center parallax con_box_area" >
					<div class="container">
						<h3 class="h1 tit mb-3">집에서 <span>택배로</span> <br>간편하고 안전하게</h3>
						<p class="stit">전국 어디서나 방문수거(우체국 택배)<br class="m_none">서비스를 제공합니다.</p>
						<p class="bottommargin" style="font-size: 16px;"><a href="https://blog.korda.im/geumbanggeumbang-iyonggaideu-taegbae-bunsile-daehan-bosang-annae/" target="_blank" data-scrollto="#section-services" data-easing="easeInOutExpo" data-speed="1250" data-offset="70" class="more-link">자세히 알아보기 <i class="icon-angle-right"></i></a></p>
					</div>
				</div>
				<%
					let multiple = 7.5; //마케팅용 배수
					let sl = Number.parseInt(locations[0].data.서울);
					sl += Number.parseInt(locations[0].data.방문);
					sl += Number.parseInt(locations[0].data.기타);
					sl = sl * multiple;
					ic = Number.parseInt(locations[0].data.인천) * multiple;
					kg = Number.parseInt(locations[0].data.경기) * multiple;
					sj = Number.parseInt(locations[0].data.세종) * multiple;
					kw = Number.parseInt(locations[0].data.강원) * multiple;
					cn = Number.parseInt(locations[0].data.충남) * multiple;
					cb = Number.parseInt(locations[0].data.충북) * multiple;
					dj = Number.parseInt(locations[0].data.대전) * multiple;
					kb = Number.parseInt(locations[0].data.경북) * multiple;
					jb = Number.parseInt(locations[0].data.전북) * multiple;
					dg = Number.parseInt(locations[0].data.대구) * multiple;
					us = Number.parseInt(locations[0].data.울산) * multiple;
					kj = Number.parseInt(locations[0].data.광주) * multiple;
					kn = Number.parseInt(locations[0].data.경남) * multiple;
					ps = Number.parseInt(locations[0].data.부산) * multiple;
					jn = Number.parseInt(locations[0].data.전남) * multiple;
					jj = Number.parseInt(locations[0].data.제주) * multiple;

					let ttl = sl + ic + kg + sj + kw + cn + cb + dj + kb + jb + dg + us + kj + kn + ps + jn + jj;
				%>
				<div id="map_area">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-5">
								<h3 class="h1 tit mb-3"> <span>전국 각지에서 실시간</span><br >편리하게 감정·판매 완료</h3>
								<p class="stit">현재 전국에서 보다 편리한 금방금방의 감정·판매 서비스를<br class="m_none">이용하고 있습니다.</p>
								<div class="total_area m_none">
									<span class="tt1">금방금방 교환·판매 누적 현황</span>
									<span class="tt2"><%=new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 0}).format(ttl)%>건</span>
									<span class="tt3">(<script type="text/javascript">document.write(getNow());</script>기준)</span>
								</div>
							</div>
							<div class="col-lg-7 align-self-end">
								<div class="position-relative">
									<div class="map_bg">
										<div class="pi_box p01"><div class="tt1">서울</div><div class="num"><%=new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 0}).format(sl)%></div></div>
										<div class="pi_box p02"><div class="tt1">인천</div><div class="num"><%=new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 0}).format(ic)%></div></div>
										<div class="pi_box p03"><div class="tt1">경기</div><div class="num"><%=new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 0}).format(kg)%></div></div>
										<div class="pi_box p04"><div class="tt1">강원</div><div class="num"><%=new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 0}).format(kw)%></div></div>
										<div class="pi_box p05"><div class="tt1">세종</div><div class="num"><%=new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 0}).format(sj)%></div></div>
										<div class="pi_box p06"><div class="tt1">충남</div><div class="num"><%=new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 0}).format(cn)%></div></div>
										<div class="pi_box p07"><div class="tt1">대전</div><div class="num"><%=new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 0}).format(dj)%></div></div>
										<div class="pi_box p08"><div class="tt1">충북</div><div class="num"><%=new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 0}).format(cb)%></div></div>
										<div class="pi_box p09"><div class="tt1">경북</div><div class="num"><%=new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 0}).format(kb)%></div></div>
										<div class="pi_box p10"><div class="tt1">전북</div><div class="num"><%=new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 0}).format(cb)%></div></div>
										<div class="pi_box p11"><div class="tt1">대구</div><div class="num"><%=new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 0}).format(dg)%></div></div>
										<div class="pi_box p12"><div class="tt1">울산</div><div class="num"><%=new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 0}).format(us)%></div></div>
										<div class="pi_box p13"><div class="tt1">광주</div><div class="num"><%=new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 0}).format(kj)%></div></div>
										<div class="pi_box p14"><div class="tt1">경남</div><div class="num"><%=new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 0}).format(kn)%></div></div>
										<div class="pi_box p15"><div class="tt1">부산</div><div class="num"><%=new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 0}).format(ps)%></div></div>
										<div class="pi_box p16"><div class="tt1">전남</div><div class="num"><%=new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 0}).format(jn)%></div></div>
										<div class="pi_box p17"><div class="tt1">제주</div><div class="num"><%=new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 0}).format(jj)%></div></div>
									</div>
									<!-- map_bg -->
								</div>
								<!-- MOBILE용 총 건수 -->
								<div class="total_area p_none">
									<span class="tt1">금방금방 교환·판매 누적 현황</span>
									<span class="tt2"><%=new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 0}).format(ttl)%>건</span>
									<span class="tt3">(<script type="text/javascript">document.write(getNow());</script>기준)</span>
								</div>
	
							</div>
	
						</div>
					</div>
				</div>
				<!-- map_area -->				
				<div id="detail">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-5">
								<h3 class="h1 tit mb-3"> <span>전문적</span> 가치평가,<br >상세감정 서비스</h3>
								<p class="stit">경력 10년 이상의 전문가가 여러분 금의 <br class="m_none">진정한 가치를 감정해드립니다.</p>
							</div>
							<div class="col-lg-7 align-self-end">
								<div class="position-relative overflow-hidden">
									<img src="images/con_view_bg.png" data-animate="fadeInUp" data-delay="100" alt="Chrome" class="fadeInUp animated">	
								</div>
	
							</div>
	
						</div>
					</div>
				</div>
				<!-- detail -->
				<div id="yout_view">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-7 ">
								<div class="position-relative overflow-hidden">
									<img src="images/con_yout_bg.jpg" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="bottom-bottom" alt="images" >
							</div>
							<!-- https://youtu.be/1gsy12pg9tI -->
							</div>
							<div class="col-lg-5 align-self-end">
								<h3 class="h1 tit mb-3"> 내 눈으로<span>직접보는</span> <br >상세감정 과정</h3>
								<p class="stit">0.1%의 조작도 없는 감정과정 영상을 <br class="m_none">유튜브로 제공해드립니다.</p>
								<!-- 1gsy12pg9tI  LcQsdpZnFU   LjqGI3qld5I    H1EGFfN0K2w -->
								<a href="https://www.youtube.com/watch?v=ZrJ2fvGb-QY" data-lightbox="iframe" class="play-icon">
									<!-- <i class="icon-play1"></i> -->
									<img src="images/btn_yout.jpg" alt="실제 감정영상 Youtube 바로 보기">
									<!-- data-aos="fade-up"  data-aos-anchor-placement="top-center" -->

									
								</a>
							</div>

						</div>
					</div>
				</div>
				<!-- yout_view -->
                <div class="section m-0 center parallax con_person" style="background: url('images/con_person_bg.jpg') center center / cover; padding:100px 0;">
                    <div class="container">
                    </div>
                </div>    
                <div id="review">
                    <div class="">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="tt_box">
                                    <h3 class="h1 tit mb-3">써 본 사람의 <span>리얼</span> 후기</h3>
                                    <p class="stit">얼마의 가치가 있을까? 얼마를 받을 수 있을까?<br class="m_none">리얼한 후기 속 내 반지의 가치를 예상해보세요.</p>
                                </div>            
                            </div>
                            <div class="col-lg-7 align-self-end list_area po_re">
                                
                                <div class="img-area aos-init aos-animate" data-aos="fade-left">
                                    <div class="bg_div"></div>
                                    <div class="view" >
                                        <ul class="wrap_ul">
                                            <% 
												var listLength = reviewsRet.length;
												listLength = 9;
												for(var i=0; i < listLength; i++) { 
											%>
                                            <li>
                                                <div class="box_wrap">
													<div class="featImgWrap">
														<div class="featImage">
															<img src="<%=reviewsRet[i].imageUrl%>" alt="images" >
														</div>
													</div>
													<!--div class="cont">
														<p class="tit"><%=reviewsRet[i].karatGrade%>K <%=reviewsRet[i].categoryName%> <br>총 <%=reviewsRet[i].totalWeight%>g  <span class="par">|</span> <%=reviewsRet[i].totalGoGoldKrw%>원</p>
                                                        <p class="date"><%=reviewsRet[i].updatedAt%>  </p>
													</div-->
													<div class="cont">
														<p class="tit"><%=reviewsRet[i].title%> <br> <%=reviewsRet[i].price%>원 <span class="par">|</span> <%=reviewsRet[i].statusString%></p>
                                                        <p class="date"><%=reviewsRet[i].updatedAt%>  </p>
                                                    </div>
                                                </div>
											</li>
											<%
												}
											%>                                      
                                        </ul>
                                    </div>
                                    <!-- view -->
                                </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
				</div>
				<!-- detail -->		

				<!-- 유튜브 -->
				<div class="section mt-0 my-0 yout">
					<div class="container clearfix">
						<div class="row align-items-center justify-content-center center my-4">				
							<div class="col-lg-9 col-md-9 col-sm-12">
							<div class="heading-block topmargin-sm center border_no">
								<p class="stit MB10">한국금거래소디지털에셋만의</p>
								<h3 class="h1 tit">금방금방 이야기 살펴보기</h3>
							</div>
								<div class="fslider flex-thumb-grid grid-6 bottommargin-sm" data-arrows="false" data-animation="slide" data-thumbs="true">
									<div class="flexslider">
										<div class="slider-wrap">
											<%
												for(var i=0; i < youTubes.length; i++) { 
											%>
											<div class="slide" data-thumb="<%=youTubes[i].thumnailMediumUrl%>">
												<div class="youtube" data-embed="<%=youTubes[i].videoId%>"><div class="play-button"></div></div>
											</div>
											<%     
												} 
											%>
										</div>
									</div>
								</div>
							</div>
							<!-- col-sm-8// -->
						</div>
						<!-- row// -->
					</div>
					<!-- container// -->
				</div>
				<!-- section// -->



				<!-- 한국금거래소디지털에셋 다크 배경 -->
				<div class="section m-0 center dark parallax" style="background: url('images/con_logo_bg.jpg') center center / cover; padding: 240px 0 310px 0;">
					<div class="container">
						<h3 class="h1 mb-5 tit">“금방금방”은 <u class="border_bottom">한국금거래소디지털에셋</u>이 운영합니다.</h3>
						<p class="stit">“한국금거래소디지털에셋”은 “한국금거래소”와 함께 코스닥 상장사인 “아이티센”의 계열사입니다.</p>
					</div>
				</div>
				<div class="section m-0 center dark parallax con_logo" style="background: #fda1a7;padding: 60px 0 40px 0;">
					<div class="container">
						<h3 class="h1 mb-3 tit">국내최초 ! 비대면 모바일 감정서비스, 금방금방</h3>
						<p class="stit">지금 다운로드 받으세요 ♥</p>
						<p class="d-sm-block fadeInUp animated" data-animate="fadeInUp" data-delay="200">
							<a href="javascript:gtag_report_conversion('https://play.google.com/store/apps/details?id=com.cengold.korda');" class="button button-xlarge button-border button-rounded"><img class="m_bt" src="images/app_img01.png" alt="mobile"></a>
							<a href="javascript:gtag_report_conversion('itms-apps://itunes.apple.com/kr/app/apple-store/id1521643653');" class="button button-xlarge button-border button-rounded"><img class="m_bt" src="images/app_img02.png" alt="mobile"></a>
						</p>
					</div>
				</div>				

				<div class="clear"></div>


			</div>
			<!-- content-wrap// -->
		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="">
			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap">

					<div class="row col-mb-50">
						<div class="col-lg-12">

							<div class="row col-mb-50">
								<div class="col-md-4">

									<div class="widget widget_links clearfix">
										<h4>㈜한국금거래소디지털에셋</h4>
										<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="60">
											<li class="lnone">(03139) 서울특별시 종로구 돈화문로5가길 1<br>(돈의동, 피카디리플러스) 7-2호 <br>대표이사 : 김종인 | 사업자등록번호 : 764-81-01460<br>통신판매업신고 : 제2019-서울중구-0900호</li>
										</ul>
									</div>

								</div>

								<div class="col-md-4">
									<div class="widget widget_links clearfix">
										<h4>문의</h4>
										<ul>
											<li class="lnone"><a href="mailto:contact@korda.im"> 사업제휴메일 : contact@korda.im</a></li>
											<li class="lnone"><a href="mailto:recruit@korda.im"> 인재채용 메일 : recruit@korda.im</a></li>
										</ul>
									</div>
								</div>

								<div class="col-md-4">
									<div class="widget widget_links clearfix">
										<h4>고객센터</h4>
										<ul>
											<li class="lnone"><a href="mailto:contact@korda.im">메일: help@korda.im</a></li>
											<li class="lnone"><a href="mailto:recruit@korda.im">전화: 02-1670-8456<br>(월~금 9am~6pm, 주말, 공휴일 휴무)</a></li>
										</ul>
									</div>
								</div>
							</div>

						</div>
		
					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">
				<div class="container">

					<div class="row col-mb-30">

					<!-- Modal -->
					<div class="modal1 mfp-hide" id="myModal1">
						<div class="block mx-auto" style="background-color: #FFF; max-width: 1000px;">
							<div class="form_wrap">
								<h1>개인정보처리방침</h1>
								<div class="con_tt">
									<article role="article" data-include="privacy_inc.html"></article>
								</div>
								<!-- con_tt //-->
							</div>
							<div class="section center m-0" style="padding: 10px;">
								<a href="#" class="button" onClick="$.magnificPopup.close();return false;">닫기</a>
							</div>
						</div>
					</div>
					<!-- Modal// -->
					<!-- Modal -->
					<div class="modal2 mfp-hide" id="myModal2">
						<div class="block mx-auto" style="background-color: #FFF; max-width: 1000px;">
							<div class="form_wrap">
								<h1>서비스 이용약관</h1>
								<div class="con_tt">
									<article role="article" data-include="service_inc.html"></article>
								</div>
								<!-- con_tt //-->
							</div>
							<div class="section center m-0" style="padding: 10px;">
								<a href="#" class="button" onClick="$.magnificPopup.close();return false;">닫기</a>
							</div>
						</div>
					</div>
					<!-- Modal// -->


					
					<div class="col-md-12 text-center text-md-left">
							<div class="copyright-links"><a href="#myModal1" data-lightbox="inline">개인정보 처리방침</a> <a href="#myModal2" data-lightbox="inline">서비스 이용약관</a> </span></div>
							<!-- <div class="line" style="margin: 30px 0 0 0;"></div> -->
						</div> 
						<div class="col-md-6 text-center text-md-left">
							<span class="coR">Copyrights &copy; 2020 All Rights Reserved by KoreaDA.</span><br>			
						</div>

						<div class="col-md-6 text-center text-md-right">
							<div class="d-flex justify-content-center justify-content-md-end widget">
				
								<a href="https://bit.ly/36TFtnj" target="_blank" class="social-icon si-dark si-colored si-gray mb-0" style="margin-right: 10px;">
									<i class="icon-none"><img src="images/ic_facebook.png" alt="sns"></i>
									<i class="icon-none"><img src="images/ic_facebook.png" alt="sns"></i>
								</a>
								<a href="https://blog.naver.com/cengold" target="_blank" class="social-icon si-dark si-colored si-gray mb-0" style="margin-right: 10px;">
									<i class="icon-none"><img src="images/ic_blog.png" alt="sns"></i>
									<i class="icon-none"><img src="images/ic_blog.png" alt="sns"></i>
								</a>
								<a href="https://www.youtube.com/channel/UCqZwkP5qKoRttaLn7j3aTiw" target="_blank" class="social-icon si-dark si-colored si-gray mb-0" style="margin-right: 10px;">
									<i class="icon-none"><img src="images/ic_youtube.png" alt="sns"></i>
									<i class="icon-none"><img src="images/ic_youtube.png" alt="sns"></i>
								</a>
							</div>

							<div class="clear"></div>
						</div>

					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>

	

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script src="include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script src="include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>


	<!--LazyLoad Youtube-->
	<script>
		(function() {
			var youtube = document.querySelectorAll( ".youtube" );
			for (var i = 0; i < youtube.length; i++) {
				var source = "https://img.youtube.com/vi/"+ youtube[i].dataset.embed +"/sddefault.jpg";
				var image = new Image();
				image.src = source;
				image.addEventListener( "load", function() {
					youtube[ i ].appendChild( image );
				}( i ) );
				youtube[i].addEventListener( "click", function() {
					var iframe = document.createElement( "iframe" );
					iframe.setAttribute( "frameborder", "0" );
					iframe.setAttribute( "allowfullscreen", "" );
					iframe.setAttribute( "src", "https://www.youtube.com/embed/"+ this.dataset.embed +"?rel=0&showinfo=0&autoplay=1" );
					this.innerHTML = "";
					this.appendChild( iframe );
				});    
			};
		} )();
	</script>	

<!--4 Asset Price start -->
<script type="text/javascript">
	var ajaxRet;
	// var originArr = new Array();
	var originArr3 = new Array();
	
	function sendAjax(){
		// content-type을 설정하고 데이터 송신
		var xhr = new XMLHttpRequest();
		xhr.open('POST', 'https://www.korda.im/getData4App');
		xhr.setRequestHeader('Content-type', "application/json");
		xhr.send();
		var tempObjArr3 = document.getElementsByClassName("rightmenu")[0].getElementsByTagName("ul")[0].getElementsByTagName("li");
		// alert(tempObjArr3.length);
		// 데이터 수신이 완료되면 표시
		xhr.addEventListener('load', function(){
			ajaxRet = JSON.parse(xhr.responseText);
			ajaxRet = ajaxRet.slice(4,8);
			// console.log(ajaxRet);
			// "gold24Buy","gold24Sell","gold18Sell","gold14Sell"
			var tempClass;
			var tempColor;
			var tempFontWeight;
			var tempVal = 0;
			var tempStr;
			var tempObj;
			
			for(var i=0 ; i<tempObjArr3.length;i++){
				// if(originArr.length>0)alert(tempStr +":"+originArr[i]+":"+ajaxRet[i].thisValue);
				tempObj = tempObjArr3[i].getElementsByTagName("span")[1];
				tempStr = Number.parseFloat(tempObj.innerText);
				tempVal = originArr3[i] - ajaxRet[i].thisValue;
				
				originArr3.reduce[i];

				if(tempStr!=0 && tempVal>0){
					tempColor = "#87dfff";
					tempClass = "blinkText";
					tempFontWeight = "bold";
				}else if(tempStr!=0 && tempVal<0){
					tempColor = "#ff7575";
					tempClass = "blinkText";
					tempFontWeight = "bold";
				}else{
					tempColor = "white";
					tempClass = "";
					tempFontWeight = "";
				}

				originArr3[i] = ajaxRet[i].thisValue;
				// console.log(tempObj.id);
				tempObj.innerText = new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 2}).format(ajaxRet[i].thisValue)
				tempObj.style.color =  tempColor;
				tempObj.className = tempClass;
				tempObj.style.fontWeight = tempFontWeight;
				// alert(tempObjArr.length+":"+ajaxRet[i].thisValue+":"+tempObj.innerText);
			}
		});
	}
	window.setInterval("sendAjax()", 3600000);

	function calc(){
		let don = parseFloat(document.getElementById("don").value);
		if(don <= 0){
			alert("수량을 입력하세요");
		}else{
			document.getElementById("ret14").innerText = 
			new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 2}).format(don * parseFloat(document.getElementById("Sell14").innerText.replace(',','')));
			document.getElementById("ret18").innerText = 
			new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 2}).format(don * parseFloat(document.getElementById("Sell18").innerText.replace(',','')));
			document.getElementById("ret24").innerText = 
			new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 2}).format(don * parseFloat(document.getElementById("Sell24").innerText.replace(',','')));
		}
	}

	function changeUnit(object){
		if(!$.isNumeric(object.value)){
			alert("숫자만 입력해 주세요");
			document.getElementById("don").value = 0;
			document.getElementById("gram").value = 0;
			return;
		}else{
			if(object.id == "gram"){
				document.getElementById("don").value = object.value/3.75;
			}else{
				document.getElementById("gram").value = object.value*3.75;
			}
		}
	}

	
</script>

<!-- Event snippet for 이벤트 스니펫 - 금방금방_클릭_GooglePlay conversion page
	In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
	<script>
		function gtag_report_conversion(url) {
		  var callback = function () {
			if (typeof(url) != 'undefined') {
			  window.location = url;
			}
		  };
		  gtag('event', 'conversion', {
			  'send_to': 'AW-627168060/sKeVCP_m8e0BELymh6sC',
			  'event_callback': callback
		  });
		  return false;
		}
	</script>
	<!--//gnb only for Mobile-->

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

	<script> AOS.init(); </script>
	<script>
		//AOS.init({
		//	easing: 'ease-out-back',
		//	duration: 1000
		//  });
	</script>

</body>
</html>